* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #e7823e 0%, #f1721c 100%);
    display: flex;
    position: relative;
}

nav {
    width: 85%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 40x;
    height: 40px;
}

.title-box {

    margin: 60px 800px auto;
    color: #fff;

    justify-content: center;
}

.title-box h1 {
    margin-bottom: 30px;
    font-size: 60px;
}

.title-box p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
}

.sidebar {
    height: 225px;
    width: 60px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(-50%);

}

.icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 5px auto;
}

.side-text {
    min-width: 0px;
    height: 100%;
    background: #1c78f1;
    margin-right: 5px;
    line-height: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0;
    overflow: hidden;
    transition: 0.5s;
}

.icon {
    min-width: 50px;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;


}

.icon .fa {
    font-size: 20px;
    color: #f1721c;
    line-height: 50px;

}

.icon-box:hover .icon {
    background: #f1721c;
}

.icon-box:hover .icon .fa {
    color: #fff;
}

.icon-box:hover .side-text {
    min-width: 140px;
}